#container {
	max-width: 750px;
	margin: 0 auto;
	height:500px;
	background: rgba(20,20,20,0.2);

}
#inner{
	padding-top:5%;
	width:450px;
	padding-left: 5%;
	margin: 0 auto;
}

#submit {
	margin-top: 5%;

}

